@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

body {
    background: linear-gradient(to right, rgb(255, 208, 0), rgb(255, 38, 0)), rgb(255, 136, 0);
    text-align: center;
    color: rgb(14, 14, 14);
    font-family: "Moderustic", sans-serif;
    font-weight: 1;
  font-style: normal;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-family: "Moderustic", sans-serif;
}


.box {
    width: 90%;
    max-width: 500px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.box textarea {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 20px;
    text-align: left;
    padding-left: 30px;
}

.back {
    background-color: orange;
    padding: 8px 10px 8px;
    font-size: 17px;
}

button {
    margin: 0 auto;
    padding: 25px 40%;  
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #000000;
    display: block; 
    border: none;
    margin-top: 20px;
    color: white;
    border-radius: 100px;
    font-family: "Moderustic", sans-serif;
}

button:hover {
    background-color:  rgb(54, 146, 85);
}

i {
    margin-top: 130px;
}

footer {
    margin-top: 10px;
    font-size: 15px;
    color: whitesmoke;
}

img {
    height: 260px;
    width: 300px;
}

.btm {
    margin-top: 200px;
}

.tp {
    color: rgba(255, 255, 255, 0.685);
    padding-top: 20px;
}